body{
  font: 15px Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#bde8f9;
}

/* Estilos globales */
.contenedor{
  width:80%;
  margin:auto;
  overflow:hidden;
}

/* Encabezado **/
header{
  background:#037dc6;
  padding-top:30px;
  min-height:90px;
  border-bottom:#33b9ee 5px solid;
}

header #marca{
  float:left;
}

header #marca h1{
  margin:0;
}

header nav{
  float:right;
  margin-top:10px;
}

header .resaltado {
  color:#24282B;
  font-weight:bold;
}
